html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter',  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #fff;
  color: #111;
}
a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.headline-link {
  color: #1d1d1f;
}
.headline-left {
  width: 111px;
  float: left;
  margin-right: 10px;
}
.headline-left-img {
  width: 111px;
  height: 62px;
}
.headline-right {
  float: left;
  width: 62%;
}
.navbar-brand {
  font-weight: bold;
}
.theme-color {
  color: #0A66C2 !important;
}
.sm-ad-banner {
  height: 75px;
  width: 100%;
}
.main-banner-img {
  height: 300px;
  width: 100%;
}
.blog-post h1 {
    font-size: 24px;
}
@media screen and (max-width: 991px) {
  .blog-post h1 {
    font-size: 1.25rem;
  }
}
.article-img {
  max-height: 413px;
  width:100%;
  max-width: 743px;
}
.blog-image {
  max-height: 167px;
}
.blog-card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;
    text-decoration: none;
}
.blog-card a {
  color: #000;
  text-decoration: none;
}
.blog-card a:hover {
  color: #166701;
}
.blog-post h2 {
  font-size:1rem;
}
.footer a {
  color: #fff;
}
